$(document).ready(function(){

	var myCoords = new google.maps.LatLng(latitude,longitude);
	
	function initialize() {
		var mapOptions = {
			center: myCoords,
      zoom: 17,
      scrollwheel: false
		};

		var map = new google.maps.Map(document.getElementById('destinations-map'), mapOptions);

		// var image =
		// {url: "<%= asset_path 'tts_icon.png'%>",
		// 	size: new google.maps.Size(120, 120)
		// };


		var marker = new google.maps.Marker({
			position: myCoords,
			map: map,
			title: 'Strong Box West',
			// icon: image,
			 animation: google.maps.Animation.DROP

		});



		var contentString = "<h2>Tech Talent South</h2>" + "<p>Do something BIG</p>"


		var infoWindow = new google.maps.InfoWindow({
			content: contentString
		});

		google.maps.event.addListener(marker,'click', function(){infoWindow.open(map,marker)});

	}

	google.maps.event.addDomListener(window, "load", initialize);

	
});


